<h4><%= t("authentification.login.header") %></h4>
<%= form_for(@user, :url => meiserauth.session_path,:html => {:class => "ym-form"}) do |f| %>
  <div class="field">
  <%= f.label :login_or_email %>
  <%= f.text_field :login_or_email %>
  </div>

  <div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>

  <div class="button">
    <%= f.submit %>
  </div>
<% end %>

